@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  @apply bg-gray-900;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  }

html {
  scroll-behavior: smooth;
}


@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to bottom right, #2d3748, #2b6cb0);
  }

  25% {
    background: linear-gradient(to bottom right, #9f7aea, #ed64a6);
  }

  50% {
    background: linear-gradient(to bottom right, #48bb78, #4299e1);
  }

  75% {
    background: linear-gradient(to bottom right, #ecc94b, #f56565);
  }

  100% {
    background: linear-gradient(to bottom right, #2d3748, #2b6cb0);
  }
}

.gradient-bg {
  animation: gradientAnimation 120s ease infinite;
}